{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/estilos_form.css' %}">

    <title>Clientes</title>
</head>

<body>
    <div id="contenedor">
        <h1>BIENVENIDO AL REGISTRO DE COCHES</h1>

        <form method="POST">
            {% csrf_token %} {{form.as_p}}
            <button type="submit">Agregar</button>
        </form>

    </div>

</body>

</html>